#prices
	padding 100px 0
	background-color: #FEE7E6;
.packet
	text-align center
	border-radius: 10px
	background-color #fff
	width 100%
	max-width 380px
	margin 0 auto 40px
	padding 30px 20px
	&-head
		&-title
			font-size: 20px
			font-weight: 300
			color #ADADAD
		&-text
			margin 20px 0 30px
			font-family: L
			font-size: 38px
			font-weight: 500
			color #2b514d
.cost
	font-size: 30px
	margin-bottom: 40px
	line-height: 1.4
	span
		font-size: 38px
		font-weight: 500
		text-transform uppercase
		display block
.prepayment
	text-align center
	&-title
		font-size: 48px
		font-weight: 500
		color red
	&-text
		font-size: 20px
		margin 20px 30px
		span
			display inline-block
			font-weight: 500