@import 'base/1-fonts'

@import '../_css/bootstrap2.min.css'

@import 'base/2-base-0'
@import 'base/2-base-c'
@import 'base/3-header'

@import 'course/1-main'
@import 'main/3-advantages'
@import 'main/4-for'
@import 'course/2-modules'
@import 'course/3-plan'
@import 'course/4-prices'
@import 'main/8-author'
@import 'main/10-last'
.button-mobile
	position fixed
	z-index 80
	bottom 20px
	left 0
	right 0
	display none
	width 90.5%
	max-width 315px
	margin 0 auto
	@media screen and (max-width 560px)
		display block
@import 'base/4-footer'