.modal
	display none
	cursor auto !important
	padding 20px
	background-color: #fff
	background-image url(../img/images/plan.png)
	background-repeat no-repeat
	background-position: center left 10px
	background-size 200px
	width 100%
	max-width 550px
	overflow hidden
.fancybox-slide--html .fancybox-close-small
	color #454545
	opacity 1
	transition: all .5s ease
	outline: 0
	padding 0
	&:hover
		transform: rotate(45deg)
.form-modal
	margin 0 auto
	position relative
	z-index: 50
.modal-title
	text-align center
	font-family: L
	font-size: 38px
	font-weight: normal
	margin: 40px 0
.input-mail-modal
	display block
	width 100%
	max-width 380px
	margin 0 auto 20px
	float: none
.button-form-modal
	float: none
	display block
	width 100%
	max-width 380px
	margin 0 auto
	padding 17px 30px