#video
	padding 150px 0
.circle
	position absolute
	border-radius: 50%
	&-bordered
		border 1px solid #D6D6D6;
	&-pink
		background-color: #FEE7E6
	&-1
		width: 304px;
		height: 304px;
		top: 170px;
		left: -66px;
	&-2
		width: 129px;
		height: 129px;
		top: 400px;
		left: 282px;
	&-3
		width: 32px;
		height: 32px;
		top: 400px;
		left: 195px;
	&-4
		width: 42px;
		height: 42px;
		top: 450px;
		left: 86px;
.button-video
	margin-top: 20px