#video
	padding 150px 0 250px
	@media screen and (max-width 1199px)
		padding 90px 0 220px
	@media screen and (max-width 991px)
		padding 90px 0 220px
	@media screen and (max-width 560px)
		padding 60px 0 250px
.circle
	position absolute
	border-radius: 50%
	z-index -1
	&-bordered
		border 1px solid #D6D6D6;
	&-pink
		background-color: #FEE7E6
	&-1
		width: 304px;
		height: 304px;
		top: 220px;
		right: -66px;
		@media screen and (max-width 991px)
			top auto
			bottom -181px
		@media screen and (max-width 560px)
			bottom -230px
			width 220px
			height: 220px
	&-2
		width: 129px;
		height: 129px;
		top: 400px;
		right: 282px;
		@media screen and (max-width 991px)
			top auto
			bottom -200px
			right 380px
		@media screen and (max-width 560px)
			width 100px
			height: 100px
			right 220px
		@media screen and (max-width 385px)
			right 180px
	&-3
		width: 32px;
		height: 32px;
		top: 450px;
		right: 195px;
		@media screen and (max-width 991px)
			top auto
			bottom -130px
			right: 140px
	&-4
		width: 42px;
		height: 42px;
		top: 500px;
		right: 86px;
		@media screen and (max-width 991px)
			top auto
			bottom -230px
.button-video
	margin-top: 20px
	@media screen and (max-width 560px)
		display none
.video-wrapper-video
	@media screen and (max-width 991px)
		margin-bottom: 250px
.general-title-video-desktop
	display block
	@media screen and (max-width 560px)
		display none
.general-title-video-mobile
	display none
	@media screen and (max-width 560px)
		display block