#for
	padding 100px 0 250px
	background-color: #FEE7E6;
.button-for
	margin-top: 40px
.for-img
	position absolute
	right 50px
	z-index -1
	bottom -150px
	display block
	width 100%
	max-width 510px
	margin 0 auto