#skills
	padding 100px 0
.skills-item
	position relative
	&-2
		margin: 150px 0 80px
	&-title
		font-family: L
		font-size: 38px
		font-weight: normal
		margin-bottom: 30px
	&-block
		position relative
		display inline-block
		padding 12px 14px
		border: 2px solid #5A9891;
		border-radius: 5px;
		margin-right: 10px
		&:last-of-type
			margin-right: 0
		&-sert
			background-color: #48817B;
			border:  2px solid #5A9891;
			color #FEE7E6
.arrow
	position relative
	border-top: 2px solid #5A9891;
	margin-right: 10px
	display inline-block
	&:after
		content: ''
		display block
		position absolute
		width 11px
		height: 11px
		border-top: 2px solid #5A9891;
		border-right: 2px solid #5A9891;
		transform rotate(45deg)
		top -6.5px
		right: 0
.skills-item-1-block-1
	width 296px
.arrow-item-1-1
.arrow-item-1-2
	width 105px
	top -30px
.skills-item-1-block-2
.skills-item-1-block-3
.skills-item-3-block-2
.skills-item-3-block-3
.skills-item-2-block-4
	top: -26px
.skills-items-img
	position absolute
	top -50px
	right -15px
.arrow-item-2-1
	width 40px
	top -5px
.arrow-item-2-2
	display none
.arrow-item-2-3
.arrow-item-2-4
	width 123px
	top -30px
.big-arrow
	position relative
	width 860px
	margin 0 auto
	&-1
	&-2
		position absolute
	&-1
		width 100px
		height: 80px
		border-top: 2px solid #5A9891;
		border-right: 2px solid #5A9891;
		border-bottom: 2px solid #5A9891;
		border-radius: 0 25px 25px 0
		top -29px
		right 179px
	&:before
	&:after
		content: ''
		display block
		position absolute
	&:before
		border-top: 2px solid #5A9891;
		width 560px
		top 49px
		left 50px
	&:after
		width 100px
		height: 80px
		border-top: 2px solid #5A9891;
		border-left: 2px solid #5A9891;
		border-bottom: 2px solid #5A9891;
		border-radius: 25px 0 0 25px
		top 49px
		left -50px
	&-2
		width 68px
		border-top: 2px solid #5A9891;
		left 50px
		top 127px
		&:before
			content: ''
			display block
			position absolute
			width 11px
			height: 11px
			border-top: 2px solid #5A9891;
			border-right: 2px solid #5A9891;
			transform rotate(45deg)
			top -6.5px
			left: 58px
.skills-item-2-block-3
	width 230px
	margin-top: 100px
	margin-left: 300px
.skills-item-2-block-5
	width 230px
.skills-item-3-block-1
	width 580px
.arrow-item-3-1
.arrow-item-3-2
	width 62px
	top: -30px