#author
	padding 80px 0 130px
	background-color: #2B514D
	@media screen and (max-width 1199px)
		padding 80px 0
	@media screen and (max-width 560px)
		padding 60px 0
.pre-title-author
	margin-top: 100px
	@media screen and (max-width 1199px)
		margin-top: 0
.author-img
	width 100%
	max-width 504px
	margin 0 0 50px auto
	display block
	@media screen and (max-width 991px)
		margin: 60px auto 40px
.author-title
	text-align right
	font-family: L
	font-size: 48px
	font-weight: normal
	line-height: 120%
	color #FEE7E6
	@media screen and (max-width 991px)
		text-align center
	@media screen and (max-width 560px)
		font-size: 40px
	@media screen and (max-width 386px)
		font-size: 32px