section#last
	.container
		.row
			.col-md-7
				h3.last-title Начни сейчас, это бесплатно!
				p.last-text Боле 20 000 учеников доверяют нам и реализует свои цели
				+b('button-up', href, 'Записаться на презентацию')
			.col-md-5
				+imgs('last-img', 'img/images/last.png', 'Картинка блока')