section#last
	.container
		.row
			.col-md-8
				h3.last-title Начни сейчас, это бесплатно!
				p.last-text Более 20 000 учеников доверяют нам и реализует свои цели
				+b('button-up button-last', href, 'Записаться на презентацию')
			.col-md-4
				+imgs('last-img', 'img/images/last.png', 'Картинка блока')