section#video
	.container
		.row
			.col-md-6
				.content
					.circle.circle-bordered.circle-1
					.circle.circle-bordered.circle-2
					.circle.circle-bordered.circle-3
					.circle.circle-pink.circle-4
					.video-wrapper.video-wrapper-video
						iframe(src="https://youtube.com/embed/?modestbranding=1" allowfullscreen)
			.col-md-6
				+gt('', 'Видео-приглашение')
				p.general-text Курс «Новая системная психология 2.0.»направлен на нейролингвистическую и психотерапевтическую работу с клиентами
				p.general-text Объединяет пять терапевтических курсов – Психохирургия, НЛП терапия, ДСТ(терапия диссоциированных состояний), Психотерапия, Регрессивный гипноз
				p.general-text Основан на психотерапевтических техниках, а также приёмах практической психологии по моделированию вербального и невербального поведения людей. Программа содержит только работающие практики и техники, что позволяет существенно сократить время работы с проблематикой для получения положительного результата
				+b('button-up button-video', href, 'Записаться на презентацию')