section#advantages
	.container
		+gt('general-title-pink', 'Преимущества обучения')
		.row
			.col-md-4
				+ai('1', 'Это возможность получить новую профессию, востребованную в современных реалиях')
			.col-md-4
				+ai('2', 'Успешно окончив обучение, Вы сможете сменить работу, получив достойный источник дохода')
			.col-md-4
				+ai('3', 'Вы начнете практиковать полученные знания уже с первых занятий')
		.row
			.col-md-4
				+ai('4', 'Обучение проходит в формате видео уроков и онлайн сессий с подробным разбором всех Ваших вопросов')
			.col-md-4
				+ai('5', 'Поддержка опытных практикующих психологов на всех этапах обучения')
			.col-md-4
				+ai('6', 'Получение диплома государственного образца по окончанию курса')
		.row
			.col-md-4
				+ai('7', 'Комфортное обучение, с опытным наставником')
			.col-md-8
				+ai('8', 'Курс разбит на три модуля после каждого модуля дополнительно, выдается сертификат, подтверждающий полученную специализацию. Это означает что уже по окончанию первого модуля у Вас есть возможность применить на практике полученные знания')