section#for
	.container
		+gt('', 'Данный курс необходим для тех, кто хочет:')
		.content
			.row
				.col-md-6
					ul.general-list-ul
						li Освоить новейшие методы психотерапии, расширить границы своей практики
				.col-md-6
					ul.general-list-ul
						li Выйти на более высокий уровень профессионализма и повысить эффективность работы с клиентами
			.row
				.col-md-6
					ul.general-list-ul
						li Эффективно владеть инструментами исцеления любой проблематики людей
				.col-md-6
					ul.general-list-ul
						li Освоить техники и практики по исцелению физических и психических недугов
			.row
				.col-md-6
					ul.general-list-ul
						li Переквалифицироваться в специалиста по психологии, даже если у вас далёкое от этой сферы образование
				.col-md-6
					ul.general-list-ul
						li Понять, как можно менять собственную реальность и управлять собственной жизнью
			.row
				.col-md-6
					ul.general-list-ul
						li Получить психологическое образование и продолжать развиваться в этом направлении
					+b('button-up', href, 'Мне это необходимо')
			+imgs('for-img', 'img/images/for.png', 'Картинка блока')