section#usefull
	.container
		+gt('general-title-pink', 'Польза от участия в онлайн-презентации:')
		.content
			.row
				.col-md-6
					+ai('1', 'Познакомитесь с современными психотерапевтическими практиками, увидите их эффективность или посмотрите на них другими глазами')
				.col-md-6
					+ai('2', 'Получите от тренера в прямом эфире анализ вашей проблемной ситуации')
			.row
				.col-md-6
					+ai('3', 'Через проработку проблематики других участников проработаете свои личные проблемы')
				.col-md-6
					+ai('4', 'Увидите работу мастера на практике и поймёте, в чём заключается суть профессии')
			.row
				.col-md-6
					+ai('5', 'Научитесь прорабатывать свои личные запросы по аналогии работы мастера')
				.col-md-6
					+ai('6', 'Сможете лично оценить все преимущества профессии психолога в современном формате')
			.row
				.col-md-6
					+ai('7', 'На онлайн-презентации получите уникальную подборку техник и материалов, важных для современного психолога')
			+imgs('usefull-img', 'img/images/usefull.png', 'Картинка блока')