section#skills
	.container
		h3.pre-title Навыки, которые вы освоите:
		.content
			.skills-item.skills-item-1
				h4.skills-item-title Модуль 1
				.skills-item-block.skills-item-1-block-1
					p.skills-item-block-text Работа с травмами. Выявление ключевых проблем
				.arrow.arrow-item-1-1
				.skills-item-block.skills-item-1-block-2
					p.skills-item-block-text Ваши первые клиенты
				.arrow.arrow-item-1-2
				.skills-item-block.skills-item-block-sert.skills-item-1-block-3
					p.skills-item-block-text Сертификат
			.skills-item.skills-item-2
				h4.skills-item-title Модуль 2
				.skills-item-block.skills-item-2-block-1
					p.skills-item-block-text Освоение техники НЛП терапии
				.arrow.arrow-item-2-1
				.skills-item-block.skills-item-2-block-2
					p.skills-item-block-text Работа с диссоциированными частями
				.arrow.arrow-item-2-2
				.big-arrow
					.big-arrow-1
					.big-arrow-2
				.skills-item-block.skills-item-2-block-3
					p.skills-item-block-text Проработка проблемы любых сфер жизни
				.arrow.arrow-item-2-3
				.skills-item-block.skills-item-block-sert.skills-item-2-block-4
					p.skills-item-block-text Сертификат
				.arrow.arrow-item-2-4
				.skills-item-block.skills-item-2-block-5
					p.skills-item-block-text Увеличение стоимости ваших консультаций
			.skills-item.skills-item-3
				h4.skills-item-title Модуль 3
				.skills-item-block.skills-item-3-block-1
					p.skills-item-block-text Проведение глубокой терапии зависимостей по системе 12-ти шагов, симбиозов, травм, а также терапии по системе коучинга
				.arrow.arrow-item-3-1
				.skills-item-block.skills-item-block-sert.skills-item-3-block-2
					p.skills-item-block-text Диплом
				.arrow.arrow-item-3-2
				.skills-item-block.skills-item-block-sert.skills-item-3-block-3
					p.skills-item-block-text Вы - дипломированный специалист
			+imgs('skills-items-img', 'img/images/skills.png', 'Картинка блока')