section#author
	.container
		.row
			.col-md-6
				h3.pre-title.pre-title-author О тренере
				ul.general-list-ul.general-list-ul-pink
					li Клинический психолог, гештальт-терапевт, гипнотерапевт
					li Мастер практической психологии и технологий осознанности
					li Коуч, тренер обучающих и трансформационных программ
					li Мастер НЛП терапии и ДСТ (терапия диссоциированных состояний)
					li Процессор техник РПТ, тетахилинга, субклеточной психобиологии, терапевт психохирургии и новой германской медицины
					li Мастер метафорических карт (МАК), системно-родовой терапии, технологии мгновенного исцеления, регрессивного гипноза
					li Автор курсов по новой системной психологии, МАК, системной терапии, психохирургии, коучинга, НЛП терапии, акмеологии, курсов по женской соматике и психологии
					li Педагог Международного института интеграционного развития
			.col-md-6
				+imgs('author-img', 'img/images/janna.png', 'Жанна Абрамова')
				h4.author-title Жанна Абрамова