.row
	.col-md-7
		h1.main-title Благодарим Вас за регистрацию на нашу презентацию
		p.main-text У нас к Вам просьба, прямо сейчас 
			span подпишитесь на наш телеграм
		p.main-text В качестве бонуса, в благодарность за подписку в телеграм, Вы получите книгу Вивиан Броутон 
			span.bonus «Навстречу собственному Я. Как ранние травмы влияют на нашу жизнь»
		p.main-text Более того Вы сможете задать любой интересующий вас вопрос специалисту компании
		p.main-text 
			span Перейдите в Нашего чат-бота
		a.button.button-main(href="https://shop.iomp.ru/index.php?r=form/telegram&id_bot=1") Подписаться 
			img(src=path+"img/icons/tg.png" alt="Telegram")
		p.main-text Обратите внимание, если вы не увидели во входящих сообщениях письмо благодарность, то обязательно проверьте вкладку 
			span.spam спам
			|, либо 
			span.spam промоакции