section#main
	.container
		.row
			.col-md-6
				p.main-pre «Новая системная психология - 2.0»
				h1.main-title Станьте психологом. 
					br
					| Работайте с бессознательными программами личности!
				+imgs('main-img', 'img/images/main.png', 'Картинка блока')
				h2.main-subtitle Комплексная программа профессиональной переподготовки начинающих и практикующих психологов по специальности «Специалист системной психологии» с выдачей диплома государственного образца
				.main-info
					p.main-info-text Даты проведения презентации:
						span с 28 сентября, 19:00(мск)
					p.main-info-text Автор курса:
						span Жанна Абрамова
				+b('button-up', href, 'Записаться')
			//- .col-md-6
			//- 	+imgs('main-img', 'img/images/main.png', 'Картинка блока')