section#plan
	.container
		h3.pre-title Программа обучающего курса
		.modules
			ul.nav.nav-tabs.modules-buttons#modules(role="tablist")
				li(role="presentation").active
					a(href="#module-1" aria-controls="module-1" role="tab" data-toggle="tab") Модуль 1
				li(role="presentation")
					a(href="#module-2" aria-controls="module-2" role="tab" data-toggle="tab") Модуль 2
				li(role="presentation")
					a(href="#module-3" aria-controls="module-3" role="tab" data-toggle="tab") Модуль 3
			.tab-content.modules-container
				.tab-pane.fade.in.module-body.active(role="tabpanel")#module-1
					.intro-lessons
						.row
							.col-md-6
								h5.intro-lesson-title Вводный урок 1
								p.intro-lesson-text Транзактный анализ. Формирование штампа. 
									br
									| Приказания и запреты
							.col-md-6
								h5.intro-lesson-title Вводный урок 2
								p.intro-lesson-text Запреты и предписания. Треугольник Карпмана
					.row
						.col-md-6
							+aib('general-list-ol-black','1', 'Метафизика. Создание рапорта, тест Юнга, упражнение “Любовь к себе”. Вторичные выгоды')
						.col-md-6
							+aib('general-list-ol-black','2', 'Работа с идентичностью')
					.row
						.col-md-6
							+aib('general-list-ol-black','3', 'Ресурсность')
						.col-md-6
							+aib('general-list-ol-black','4', 'Родовая система как способ формирования психики')
					.row
						.col-md-6
							+aib('general-list-ol-black','5', 'Баланс как восстановление энергии')
						.col-md-6
							+aib('general-list-ol-black','6', 'Внутриэмоциональные конфликты')
					.row
						.col-md-6
							+aib('general-list-ol-black','7', 'Драма контроля. Основы новой германской медицины')
						.col-md-6
							+aib('general-list-ol-black','8', 'Техники исцеления ДНК')
					.row
						.col-md-6
							+aib('general-list-ol-black','9', 'Генограмма. Синдром поколений')
						.col-md-6
							+aib('general-list-ol-black','10', 'Процесс перезачатия . Манифестация изобилия')
					.row
						.col-md-6
							+aib('general-list-ol-black','11', 'Техника « Перезачатие»')
						.col-md-6
							+aib('general-list-ol-black','12', 'Желание и цели. Техника «Изобилие на миллион»')
					p.module-doc + Сертификат
				.tab-pane.fade.module-body(role="tabpanel")#module-2
					.row
						.col-md-6
							+aib('general-list-ol-black','1', 'Квантовый скачок. Из проблем в ресурсное состояние')
						.col-md-6
							+aib('general-list-ol-black','2', 'Моделирование собственной жизни')
					.row
						.col-md-6
							+aib('general-list-ol-black','3', 'РЭП система. Принципы коммуникаций')
						.col-md-6
							+aib('general-list-ol-black','4', 'Калибровка. Маркеры и упражнение «Концентрация внимания»')
					.row
						.col-md-6
							+aib('general-list-ol-black','5', 'Комплексные эквиваленты. Номинализация. Опущение')
						.col-md-6
							+aib('general-list-ol-black','6', 'Метамодель. Референтный индекс. Неспецифические глаголы')
					.row
						.col-md-6
							+aib('general-list-ol-black','7', 'Модальные операторы и универсальные квантификаторы')
						.col-md-6
							+aib('general-list-ol-black','8', 'Причина и следствия. Ассоциации и Диссоциации. Техника «Стулья»')
					.row
						.col-md-6
							+aib('general-list-ol-black','9', 'Фреймы. Упражнения «Не айс», «Как если бы». Сессия примерка')
						.col-md-6
							+aib('general-list-ol-black','10', 'Якоря. Упражнение «Коллапс якорей»')
					.row
						.col-md-6
							+aib('general-list-ol-black','11', 'Пирамида Дилтса. Теория частей')
						.col-md-6
							+aib('general-list-ol-black','12', 'Субличности. Образ нашей мечты. Техника «Стулья»')
					.row
						.col-md-6
							+aib('general-list-ol-black','13', 'Субмодальности. Упражнение «Как я узнаю...» Техника сепарации в НЛП')
						.col-md-6
							+aib('general-list-ol-black','14', 'Манипуляции. Игры в которые играют люди. Треугольник Карпмана. Модель SCORE')
					.row
						.col-md-6
							+aib('general-list-ol-black','15', 'Техника SCORE. Демосессии. Шестишаговый рефрейминг. Техника взмаха. Изменение патернов. Техника изменения личностных историй')
						.col-md-6
							+aib('general-list-ol-black','16', 'Психовампиры. Продолжаем работать с убеждениями')
					p.module-doc + Сертификат
				.tab-pane.fade.module-body(role="tabpanel")#module-3
					.row
						.col-md-6
							+aib('general-list-ol-black','1', 'Факультатив «Чтение расстановочного поля». Демо-сессия по аллергии. Законы рода. Демо-сессия «Работа со страхами»')
						.col-md-6
							+aib('general-list-ol-black','2', 'Создание пары. Фразы растождествления')
					.row
						.col-md-6
							+aib('general-list-ol-black','3', '13 основных блоков, влияющих на нашу судьбу. Воронки. Упражнение «Слепое пятно»')
						.col-md-6
							+aib('general-list-ol-black','4', 'Работа с полем. Ассоциации, проекции')
					.row
						.col-md-6
							+aib('general-list-ol-black','5', 'Денежные уровни. Упражнение «Баланс пары». Демосессия - Запрос «Деньги»')
						.col-md-6
							+aib('general-list-ol-black','6', 'Факультатив «Аборты. Выкидыши. Замершая беременность»')
					.row
						.col-md-6
							+aib('general-list-ol-black','7', 'Долги и Кредиты')
						.col-md-6
							+aib('general-list-ol-black','8', 'Практическое занятие по системно-родовой терапии. Внутри-эмоциональные конфликты. Сливы. Воронки')
					.row
						.col-md-6
							+aib('general-list-ol-black','9', 'Детско-родительские отношения')
						.col-md-6
							+aib('general-list-ol-black','10', 'Имена и фамилии')
					.row
						.col-md-6
							+aib('general-list-ol-black','11', 'Гештальт терапия. Основы')
						.col-md-6
							+aib('general-list-ol-black','12', 'Психокоррекция личности. Метод 12 шагов. Созависимости')
					.row
						.col-md-6
							+aib('general-list-ol-black','13', 'Работа с зависимостями')
						.col-md-6
							+aib('general-list-ol-black','14', 'Техники Гештальт Терапии в работе с созависимыми отношениями')
					.row
						.col-md-6
							+aib('general-list-ol-black','15', 'Регрессия. Нейтрализация симптома "Травма души"')
						.col-md-6
							+aib('general-list-ol-black','16', 'Регрессия переживаний. Психотравма')
					.row
						.col-md-6
							+aib('general-list-ol-black','17', 'Перепроживание ситуаций')
						.col-md-6
							+aib('general-list-ol-black','18', 'Гипноз.Виды гипноза')
					.row
						.col-md-6
							+aib('general-list-ol-black','19', 'Коучинг. Инфобизнес. Целевая аудитория')
						.col-md-6
							+aib('general-list-ol-black','20', 'Упражнение «Кто я?». Демосессия «Самореализация». Возражения клиентов')
					.row
						.col-md-6
							+aib('general-list-ol-black','21', 'Продвижение себя. Кейсы')
						.col-md-6
							+aib('general-list-ol-black','22', 'Техника БМВ. Видеоприглашение')
					.row
						.col-md-6
							+aib('general-list-ol-black','23', 'Инфопродукт. Создание баннера. Ведение соцсетей')
						.col-md-6
							+aib('general-list-ol-black','24', 'Акмеология и Коучинг')
					.row
						.col-md-6
							+aib('general-list-ol-black','25', 'Коучинг, работа с саботажем')
						.col-md-6
							+aib('general-list-ol-black','26', 'Антисаботаж. Откаты')
					.row
						.col-md-6
							+aib('general-list-ol-black','27', 'Коучинг. Деньги')
						.col-md-6
							+aib('general-list-ol-black','28', 'Предназначение')
					.row
						.col-md-6
							+aib('general-list-ol-black','29', 'Старость. Работа с заболеваниями')
						.col-md-6
							+aib('general-list-ol-black','30', 'Песочная терапия')
					.row
						.col-md-6
							+aib('general-list-ol-black','31', 'Транзактный анализ')
						.col-md-6
							+aib('general-list-ol-black','32', 'Транзактный анализ')
					.row
						.col-md-6
							+aib('general-list-ol-black','33', 'Транзактный анализ')
						.col-md-6
							+aib('general-list-ol-black','34', 'Выявление причинно-следственных связей в работе с клиентом. Жизненные стратегии. Техники «Завершение прошлых связей», «Царь Горы»')
					.row
						.col-md-6
							+aib('general-list-ol-black','35', 'Рэкетные чувства. Личные границы. Техника «Саботажник и помощник»')
						.col-md-6
							+aib('general-list-ol-black','36', 'Границы тела. Проработка рэкетных чувств. МАК-расклад «В наследство от мамы»')
					.row
						.col-md-6
							+aib('general-list-ol-black','37', 'Симбиоз: причины, признаки, стратегии выхода. МАК-расклад «Исследование созависимости», «Симбиоз»')
						.col-md-6
							+aib('general-list-ol-black','38', 'Симбиоз в паре. Сепарация с родителями')
					.row
						.col-md-6
							+aib('general-list-ol-black','39', 'Идентичность. Личные границы. Отношения и сценарии. Предназначение. Материнство')
						.col-md-6
							+aib('general-list-ol-black','40', 'Причины, влияющие на финансы. Денежные сценарии, ограничения, блоки. Деньгоприносящие качества и стратегии')
					p.module-doc + Диплом
		+imgs('plan-img', 'img/images/plan.png', '')