section#prices
	.container
		+gt('', 'Выберите свой вариант участия')
		.packets
			.row
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title «Новая системная психология - 2.0»
							p.packet-head-text Модуль 1
						.packet-footer
							p.cost Стоимость
								span 25 000р.
							+b('button-cost', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=271&clean=true&lg=ru','Выбрать', '_blank')
					.prepayment
						h4.prepayment-title Акция!
						p.prepayment-text Платите 
							span 10 000р., 
							|  на счет зачисляется 
							span 12 500р.. 
							| Бонусом получаете 
							span 2 500р.
						+b('button-prepayment', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=282&clean=true&lg=ru', 'Оплатить 10 000р.', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title «Новая системная психология - 2.0»
							p.packet-head-text Модуль 2
						.packet-footer
							p.cost Стоимость
								span 65 000р.
							+b('button-cost', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=275&clean=true&lg=ru','Выбрать', '_blank')
					.prepayment
						h4.prepayment-title Акция!
						p.prepayment-text Платите 
							span 10 000р., 
							|  на счет зачисляется 
							span 15 000р.. 
							| Бонусом получаете 
							span 5 000р.
						+b('button-prepayment', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=278&clean=true&lg=ru', 'Оплатить 10 000р.', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title «Новая системная психология - 2.0»
							p.packet-head-text Модуль 3
						.packet-footer
							p.cost Стоимость
								span 121 500р.
							+b('button-cost', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=279&clean=true&lg=ru','Выбрать', '_blank')
					.prepayment
						h4.prepayment-title Акция!
						p.prepayment-text Платите 
							span 10 000р., 
							|  на счет зачисляется 
							span 20 000р.. 
							| Бонусом получаете 
							span 10 000р.
						+b('button-prepayment', 'https://shop.iomp.ru/?r=ordering/cart/as1&id=282&clean=true&lg=ru','Оплатить 10 000р.', '_blank')